.upgrades {
	overflow-y: scroll;
	float: right;
	width: 50%;
	border-style: solid;
	height:400px;
}
.image {
	height:20px;
	width:20px;
}
.limage {
	height:30px;
	width:30px;
}
.clicky { 
	text-decoration: none; 
	border: none; 
	font-size: 16px; 
	color: #fff; 
	border-radius: 5px; 
	box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.24); 
	cursor: pointer; 
	outline: none; 
	transition: 0.1s all; 
} 
/* Adding transformation when the button is active */ 
.clicky:hover {
	box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.24); 
}
.clicky:active { 
	transform: scale(0.95); 
	/* Scaling button to 0.98 to its original size */ 
	box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24); 
	/* Lowering the shadow */ 
} 