.monotype {
	font-family: "Courier New", "Courier", "monotype";
}
.normal {
	font-family: "Arial", "sans-serif"
}
html {
	background-color: #efface;
}

#navbar {
	background-color: lightcyan;
	overflow: hidden;
}
#on-nav {
	float: left;
	color: #8f8f8f;
	text-align: center;
	padding: 14px 12px;
	text-decoration: none;
	font-size: 17px;
}
#nav {
	float: left;
	color: #000000;
	text-align: center;
	padding: 14px 12px;
	text-decoration: none;
	font-size: 17px;
}
.link {
	background-color: #BADA55;
	border-style: solid;
	color: #000000;
	text-decoration: none;
}
