<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<title>Fun Facts</title>
	<link rel="icon" type="image/x-icon" href="/static/images/loltech.ico">
	 <link rel="stylesheet" href="{{ url_for('static', filename='css/fun.css') }}">
</head>

<body>

	<div id="navbar">
		<a href="/">
		  <img
			class="fit-picture"
			src="/static/images/logo.png"
			alt="Loltech logo" 
			width="50"
			height="50"
			align="left"/>
		</a>
		<a href="/interesting" id="nav">
			Simple JS
		</a>
		<a href="/goofy" id="nav">
			Goofy Links
		</a>
		<a id="on-nav">
			Fun Facts
		</a>
		<a href="/idiot" id="nav">
			You Idiot!
		</a>
		<a href="/music" id="nav">
			Music
		</a>
		<a href="/saul" id="nav">
			Saul
		</a>

	</div>
	<h1 class="monotype">Fun Facts</h1>
	<p>
		Fun facts about this website:
	</p>
	<div id="list">
		<br/>
		<ul>
			<li>
				<a class="lgreen normal">
					Some items in this website use the color #BADA55.
				</a>
			</li>
			<li>
				<a class="leet normal">
					Others may use the color #1337.
				</a>
			</li>
			<li>
				<a class="efface normal">
					The background is #efface.
				</a>
			</li>
			<li>
				<a class="banana normal">
					Very rarely, the color #fff700 is used.
				</a>
			</li>
			<li>
				<a class="normal">
					This website was made with Flask.
				</a>
			</li>
			<li>
				<a class="normal">
					This website was (not) sponsored by the you are an idiot virus.
				</a>
			</li>
			<li>
				<a href="/iphone" class="normal">
					This website also sells the All New iPhone.
				</a>
			</li>
		</ul>
		<br/>
	</div>
	<br/>
	<br/>
	<footer>
		© Loltech {{the_year}}
	</footer>
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
	<a href="/hydr" class="invis">Goofy ahh</a>
	<a href="/youdontknowwhowereallyare" class="invis"> 123 </a>
	<a href="/hydr" class="invis">oof </a>
	<script type="module" src="{{url_for('static', filename='js/fun.js')}}"></script>
</body>

</html>