<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<title>404 Not Found</title>
	 <link rel="stylesheet" href="{{ url_for('static', filename='css/mainframe.css') }}">
</head>

<body>
	<h1>
		Not Found
	</h1>
	<p>
		The requested URL was not found on the server. If you entered the URL manually please check your spelling and try again.
	</p>
	<br>
	<br>
	<button type="button" class="button">
		asjdfkl     
	</button>
	<button type="button" class="button" onclick="Thisfunc()">
		jnadl
	</button>
	<button type="button" class="button">
		jnadl
	</button>
	<script>
		function Thisfunc() {
			window.location.replace("/the-hub");
		}
	</script>
</body>

</html>