<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<title>Music</title>
	<link rel="icon" type="image/x-icon" href="/static/images/loltech.ico">
	 <link rel="stylesheet" href="{{ url_for('static', filename='css/music.css') }}">
</head>

<body>

	<div id="navbar">
		<a href="/">
		  <img
			class="fit-picture"
			src="/static/images/logo.png"
			alt="Loltech logo" 
			width="50"
			height="50"
			align="left"/>
		</a>
		<a href="/interesting" id="nav">
			Simple JS
		</a>
		<a href="/goofy" id="nav">
			Goofy Links
		</a>
		<a href="/fun" id="nav">
			Fun Facts
		</a>
		<a href="/idiot" id="nav">
			You Idiot!
		</a>
		<a id="on-nav">
			Music
		</a>
		<a href="/saul" id="nav">
			Saul
		</a>

	</div>
	<h1 class="monotype">Music</h1>
	<p class="normal">Play our music files!</p>
	<br/>
	<table>
	  <tr>
		<th><p>Calming, Lo-fi Beats</p></th>
		<th><p>Telephone music</p></th>
		<th><p>Cool Sound</p></th>
	  </tr>
	  <tr>
		<td>
			<audio controls>
			  <source src="static/music/exciting.mp3" type="audio/mp3">
			  Your browser does not support the audio tag.
			</audio>
		</td>
		<td>
			<audio controls>
			  <source src="static/music/telephone.mp3" type="audio/mp3">
			  Your browser does not support the audio tag.
			</audio>
		</td>
		<td>
			<audio controls>
			  <source src="static/music/cool sound.mp3" type="audio/mp3">
			  Your browser does not support the audio tag.
			</audio>
		</td>
	  </tr>
	</table>
	<hr/>
	<table>
	  <tr>
		<th><p>It's Raining Tacos</p></th>
		<th><p><p>Chug Jug With You</p></p></th>
		<th><p>Hide n Seek Danger Level 1</p></th>
	  </tr>
	  <tr>
		<td>
			<audio controls>
			  <source src="static/music/tacos.mp3" type="audio/mp3">
			  Your browser does not support the audio tag.
			</audio>
		</td>
		<td>
			<audio controls>
			  <source src="static/music/chug jug.mp3" type="audio/mp3">
			  Your browser does not support the audio tag.
			</audio>
		</td>
		<td>
			<audio controls>
			  <source src="static/music/level 1.mp3" type="audio/mp3">
			  Your browser does not support the audio tag.
			</audio>
		</td>
	  </tr>
	</table>
	<hr/>
	<table>
	  <tr>
		<th><p>Hide n Seek Danger Level 2</p></th>
		<th><p>Dollar STore Jeopardy Theme Song</p></th>
		<th><p>Strange Barn music</p></th>
	  </tr>
	  <tr>
		<td>
			<audio controls>
			  <source src="static/music/level 2.mp3" type="audio/mp3">
			  Your browser does not support the audio tag.
			</audio>
		</td>
		<td>
			<audio controls>
			  <source src="static/music/Jeopardy.mp3" type="audio/mp3">
			  Your browser does not support the audio tag.
			</audio>
		</td>
		<td>
			<audio controls>
			  <source src="static/music/barn.mp3" type="audio/mp3">
			  Your browser does not support the audio tag.
			</audio>
		</td>
	  </tr>
	</table>
	<hr/>
	<table>
	  <tr>
		<th><p>Weird music</p></th>
		<th><p>Boss Fight 1</p></th>
		<th><p>Boss Fight 2</p></th>
	  </tr>
	  <tr>
		<td>
			<audio controls>
			  <source src="static/music/Weird sound.mp3" type="audio/mp3">
			  Your browser does not support the audio tag.
			</audio>
		</td>
		<td>
			
			<audio controls>
			  <source src="static/music/boss battle 1.mp3" type="audio/mp3">
			  Your browser does not support the audio tag.
			</audio>
		</td>
		<td>
			
			<audio controls>
			  <source src="static/music/boss battle 2.mp3" type="audio/mp3">
			  Your browser does not support the audio tag.
			</audio>
		</td>
	  </tr>
	</table>
	<hr/>
	<table>
	  <tr>
		<th><p>Cool Sound piano</p></th>
		<th><p>REALLY LOUD EAR BREAKING MUSIC</p></th>
		<th><p>Lobby music on synth elec guitar</p></th>
	  </tr>
	  <tr>
		<td>
			<audio controls>
			  <source src="static/music/Cool Sound (fast).mp3" type="audio/mp3">
			  Your browser does not support the audio tag.
			</audio>
		</td>
		<td>

			<audio controls>
			  <source src="static/music/Ear breaker.mp3" type="audio/mp3">
			  Your browser does not support the audio tag.
			</audio>
		</td>
		<td>

			<audio controls>
			  <source src="static/music/lobby music.mp3" type="audio/mp3">
			  Your browser does not support the audio tag.
			</audio>
		</td>
	  </tr>
	</table>
	<hr/>
	<table>
	  <tr>
		<th><p>Strange music</p></th>
		<th><p>YOUR PHONE LINGING (but cursed)</p></th>
		<th><p>YOUR PHONE LINGING (original)</p></th>
	  </tr>
	  <tr>
		<td>
			<audio controls>
			  <source src="static/music/weird song.mp3" type="audio/mp3">
			  Your browser does not support the audio tag.
			</audio>
		</td>
		<td>

			<audio controls>
			  <source src="static/music/lol.mp3" type="audio/mp3">
			  Your browser does not support the audio tag.
			</audio>
		</td>
		<td>

			<audio controls>
			  <source src="static/music/YOUR PHONE LINGING.mp3" type="audio/mp3">
			  Your browser does not support the audio tag.
			</audio>
		</td>
	  </tr>
	</table>
	<hr/>
	<table>
	  <tr>
		<th><p>Life is good on the violin</p></th>
		<th><p>Sad Music be like</p></th>
		<th><p>We are #1 (except every instrument is the roblox death sound)</p></th>
	  </tr>
	  <tr>
		<td>
			<audio controls>
			  <source src="static/music/life is good.mp3" type="audio/mp3">
			  Your browser does not support the audio tag.
			</audio>
		</td>
		<td>

			<audio controls>
			  <source src="static/music/sad music.mp3" type="audio/mp3">
			  Your browser does not support the audio tag.
			</audio>
		</td>
		<td>

			<audio controls>
			  <source src="static/music/we 1 oof.mp3" type="audio/mp3">
			  Your browser does not support the audio tag.
			</audio>
		</td>
	  </tr>
	</table>
	<br/>
	<br/>
	<br/>
	<br/>
	<footer>
		© Loltech {{the_year}}
	</footer>
	<script type="module" src="{{url_for('static', filename='js/music.js')}}"></script>
</body>

</html>