<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Better Call Saul</title>
	<link rel="icon" type="image/x-icon" href="/static/images/loltech.ico">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/saul.css') }}">
</head>
<body>
  <h1 class="white">
	  Better Call Saul
  </h1>
  <video id="videoPlayer" width="600px" height="400px" controls="controls" src="static/videos/My favorite ringtone.mp4">
  <br/>
  <br/>
  <footer class="white">
    © Loltech {{the_year}}
  </footer>
</body>

</html>